<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="/css/index/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/cmpt3rd/jquery/jquery.js"></script>
	<script src="/cmpt3rd/jquery/jquery.ui.widget.js"></script>
	<script src="/cmpt3rd/jquery/jquery.iframe-transport.js"></script>
	<script src="/cmpt3rd/jquery/jquery.easyui.min.js"></script>
	<script src="/cmpt3rd/jquery/jquery.fileupload.js"></script>
	<script src="/cmpt3rd/jsUpload/jsUploadDialog.js"></script>
	<script src="/js/index/index.js"></script>
</head>
<body class="flex-column">
<section class="address--container flex-shrink flex-row center middle selectable-hidden">
	<div class="label flex-shrink">
		服务<br/>地址
	</div>
	<textarea id="txt-copy" class="ip-address txt flex-grow"  readonly></textarea>
	<button data-clipboard-target="#txt-copy" class="btn-copy ctrl flex-shrink btn-reverse">复制</button>
</section>
<section class="uploader-container flex-shrink flex-row selectable-hidden">
	<button class="fileupload btn flex-grow btn-reverse">上传</button>
	<div class="disk flex-shrink hidden">
		<div class="disk__progress" progress="10">
			<div></div>
		</div>
	</div>
</section>
<section class="files--container flex-grow  flex-column">
	<div class="files--container__dir flex-shrink">
		<button class="path-root dir__root">主目录</button>
		<div class="path-children dir__children">
		</div>
	</div>
	<!-- global checkbox -->
	<div class="file-list-select-all flex-shrink flex-row">
		<div class="global-chk-box chk-box flex-shrink m-left-30 m-top-20"></div>
		<div class="flex-grow"></div>
	</div>
	<!-- file list -->
	<div class="file-list files--container__list flex-grow scroll-y">
	</div>
	<div class="files--container__ctrl   flex-shrink">
		<div class="ctrl__group">
			<button class="btn-select-toggle selector ctrl__item item-slide" no-selectable-txt="选择"
					selectable-txt="取消"></button>
			<button class="btn-dialog-open checkable-show controller ctrl__item item-slide" op-target="operate">删除</button>
			<button class="btn-download checkable-show ctrl__item btn-reverse">下载</button>
		</div>
		<div class="dialog-window ctrl__slide operate hidden" op-name="operate">
			<div class="ctrl__slide__list">
				<div class="slide--group flex-column">
					<button class="btn-file-mv">移动</button>
					<button class="btn-file-rm">删除</button>
					<button class="btn-file-rename">重命名</button>
					<button class="default dialog-close">取消</button>
				</div>
			</div>
			<div class="ctrl__slide__shadow"></div>
		</div>
	</div>
</section>
</body>
</html>
